{% extends 'fr/base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    <div class="security" data-controller="formloading">

        <h1 class="security-title-small">Créer un nouveau mot de passe</h1>

        {{ form_start(form) }}
            
            {{ include('form/_form_row_with_label_down.html.twig', {name: 'password', label: 'Créez un nouveau mot de passe', field: form.password}) }}

            {{ include('form/_form_row_with_label_down.html.twig', {name: 'passwordConfirm', label: 'Confirmez le mot de passe', field: form.passwordConfirm}) }}
            
            <input type="hidden" name="token" value={{ reset_token }}>

            <div class="submit-group">
                <button class="form-button no-react security-button" type="submit">
                    <img class="loader form-button-loader" src="/img/icons/loader.png" alt="symbole chargement">
                    <span>Valider</span>
                </button>
            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
