{% extends "fr/base.html.twig" %}

{% block title %}{{ category.name }}{% endblock %}

{% block metaTitle %}
    <meta property="og:title" content="{{ category.name }}">
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('productIndex') }}
{% endblock %}

{% block style %}
    {{ parent() }}
    {{ encore_entry_link_tags('productIndex') }}
{% endblock %}



{% block body %}
    <div class="breadcrumb">
        <a href={{ path('home') }} class="breadcrumb-home-link">Accueil</a>
        >
        <span class="breadcrumb-item">{{ category.name }}</span>
    </div>
    <h1 class="product-index-static-title">{{ category.name }}</h1>
    <div id="product-index" data-categoryid="{{ category.id }}">
    </div>
{% endblock %}