{% extends 'en/base.html.twig' %}

{% block title %}Change my password{% endblock %}

{% block body %}
    <div class="security" data-controller="formloading">

        <h1 class="security-title-small">Change my password</h1>

            {{ form_start(form) }}
                
                {{ include('form/_form_row_with_label_down.html.twig', {name: 'oldPassword', label: 'Old password', field: form.oldPassword}) }}
                
                {{ include('form/_form_row_with_label_down.html.twig', {name: 'password', label: 'New password', field: form.password}) }}

                {{ include('form/_form_row_with_label_down.html.twig', {name: 'passwordConfirm', label: 'Confirm the new password', field: form.passwordConfirm}) }}
                
            <div class="submit-group">
                <button class="form-button no-react security-button" type="submit">
                    <img class="loader form-button-loader" src="/img/icons/loader.png" alt="loading symbol">
                    <span>Submit</span>
                </button>
            </div>
            {{ form_end(form) }}

    </div>
    
{% endblock %}
