{% extends 'en/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="security" data-controller="formloading">

        <h1 class="security-title-small">Create a new password</h1>

        {{ form_start(form) }}
            
            {{ include('form/_form_row_with_label_down.html.twig', {name: 'password', label: 'Create a new password', field: form.password}) }}

            {{ include('form/_form_row_with_label_down.html.twig', {name: 'passwordConfirm', label: 'Confirm new password', field: form.passwordConfirm}) }}
            
            <input type="hidden" name="token" value={{ reset_token }}>

            <div class="submit-group">
                <button class="form-button no-react security-button" type="submit">
                    <img class="loader form-button-loader" src="/img/icons/loader.png" alt="loading symbol">
                    <span>Submit</span>
                </button>
            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
